<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Booking System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
        <div class="container-fluid">
            <a class="navbar-brand">Flight Booking System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                </ul>
                <span>
                    <form action="/logout" class="container-fluid justify-content-start">
                        <button type="submit" class="btn btn-outline-danger my-1">Logout</button>
                    </form>
                </span>
                <span>
                    <form action="/view_bookings" method="post">
                        <a href="/view_bookings" class="btn btn-success">View Bookings <span class="badge bg-light text-dark ms-2">{{bookings_count}}</span></a>
                    </form>
                </span>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message[1]}} alert-dismissible fade show mx-5" role="alert">
                    {{message[0]}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %} 
    <div class="bg-secondary mx-5 mb-4 text-white text-center" style="height: 27px; text-align: center;"><h5>All Flights</h5></div>
    {%if flights%}
        <div class="container rounded-2">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-4 justify-content-center">
                {%for flight in flights%}
                    <div class="card bg-light col mx-3 text-center mb-4" style="height:230px;">
                        <div class="card-body">
                            <div class="card-header mb-2">
                                <h3 class="card-title">Flight {{flight["flight_number"]}}</h3>
                            </div>
                            <h5><strong>Departure:</strong> {{flight["departure"]}}</h5>
                            <h5><strong>Arrival:</strong> {{flight["arrival"]}}</h5>
                            <h5 class="mt-2"><strong>Price:</strong> ${{flight["price"]}}</h5>
                            <form action="/book_flight/{{flight['_id']}}" method="post">
                                <div class="d-flex justify-content-center">
                                    <input name="flight_number" type="hidden" value="{{flight['flight_number']}}">
                                    <input name="departure" type="hidden" value="{{flight['departure']}}">
                                    <input name="arrival" type="hidden" value="{{flight['arrival']}}">
                                    <input name="quantity" type="text" class="form-control me-3" placeholder="Quantity:" style="width: 113px">
                                    <button type="submit" class="btn btn-success">Add to Bookings</button>
                                </div>
                            </form>
                        </div>
                    </div>
                {%endfor%}
            </div>
        </div>
    {%endif%}
    <div class="modal fade" id="registerModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Register</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/register">
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" id="email" class="form-control" placeholder="a@b.com">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" id="password" class="form-control">
                        </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Register</button>
                </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/login">
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" id="email" class="form-control" placeholder="a@b.com">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" id="password" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Login</button>
                </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body
</html>